<div class="city-display">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="intro">

                  <h2><strong>Name: </strong><%= @city.name %> </h2>
                  <hr>
                  <h2><strong>City: </strong><%= @city.description %> </h2>
                  <hr>
                  <h2><strong>City: </strong><%= @city.address %> </h2>
                  <hr />
                  <p><%= link_to "edit this city", edit_city_path(@city) %></p>
                </div>
            </div>
        </div>
    </div>
</div>
